@using WebBanMayTinh.Models.AdminViewModels
@using WebBanMayTinh.HtmlHelpers
@model ProductList

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="panel">
    <div class="panel-heading  text-center" style="background-color:#978bce">
        <h3 style="color:white">Tất cả sản phẩm</h3>
    </div>
    @Html.ActionLink("Add a new product", "Create", null,
                            new { @class = "btn btn-primary" })
    <div class="panel-body">
        <table class="table table-striped table-condensed table-bordered">
            <thead>
                <tr>
                    <th class="text-center">Tên</th>
                    <th class="text-center">Ảnh</th>
                    <th class="text-center"> Mô tả</th>
                    <th class="text-center">Giá</th>
                    <th class="text-center">Cơ sở</th>
                    <th class="text-center">Trạng thái</th>
                    <th class="text-center">Số seri</th>
                    <th class="text-center">Chức năng</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Products)
                {
                    <tr>
                        <td style="vertical-align:middle">@Html.DisplayFor(modelItem => item.LoaiSanPham.Ten)</td>
                        <td style="vertical-align:middle"><img src="~/Content/img/@item.LoaiSanPham.Anh" alt="" width="100" height="100"></td>
                        <td style="vertical-align:middle">@Html.DisplayFor(modelItem => item.LoaiSanPham.MoTa)</td>
                        <td style="vertical-align:middle">@Html.DisplayFor(modelItem => item.LoaiSanPham.Gia)</td>
                        <td style="vertical-align:middle">@Html.DisplayFor(modelItem => item.CoSo.Ten)</td>
                        <td style="vertical-align:middle">@Html.DisplayFor(modelItem => item.TrangThaiSP.TenTT)</td>
                        <td style="vertical-align:middle">@Html.DisplayFor(modelItem => item.SoSeri)</td>
                        <td style="vertical-align:middle">
                            @Html.ActionLink("Edit", "Edit", new { productId = item.ID }, new { @class = "btn btn-primary" })    
                            @Html.ActionLink("Delete", "Delete", new { productId = item.ID }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="8" class="text-right">
                        @Html.CreatePageLinks(Model.PagingInfo, x => Url.Action("Index", Model.CurrentCategoryNav, new { page = x }))
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
